<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminPanel | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css" />
    <!-- icheck bootstrap -->
    <link
      rel="stylesheet"
      href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="../plugins/dist/css/adminlte.min.css" />
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
         <b>Admin</b>Login</a>
      </div>
    
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in to start your session</p>
          <div id="errorDiv" style="display: none;">
            <p style="color: #e70a0a;text-align: center;">  <span id="errorMessage"></span></p>
          </div>
          <form  method="post" id="loginForm">
            <div class="input-group mb-3">
              <input type="email" class="form-control" id="email" placeholder="Email" required />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password" id="password"
                class="form-control"
                placeholder="Password"
                required
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
               
              </div>
              <!-- /.col -->
              <div class="col-4">
                
                <button id="submit"  class="btn btn-primary btn-block">  Login </button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <!-- /.social-auth-links -->

        
          
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../plugins/dist/js/adminlte.min.js"></script>
    <script>
      $(document).ready(function(){
    $('#loginForm').submit(function(e){
        e.preventDefault();
        
        var data = {
            email: $("#email").val(),
            password: $("#password").val(),
           
          };
          $.ajax({
          type: 'post',
          url: '/login',
          data: JSON.parse(JSON.stringify(data)),
          dataType: "json",
          success: function (response) {
             console.log(response.message.isLoggedIn);
           if(response.message.isLoggedIn){
            window.location.href= "/dashboard";
           }
          
            
          },
          error: function (response) {
             let message;
                if(response.responseJSON.message == "invalide_password"){
                  message= "invalide email or password!";
                }
                else if(response.responseJSON.message == "invalide_email_or_password"){
                  message= "invalide email or password!";
                }
                else {
                  message = response.responseJSON.message
                }
               $('#errorMessage').text(message);

              // Show the error div
              $('#errorDiv').show();
                  
                }

        });
    });
});
     
  </script>
  </body>
</html>
